html, body {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

body {

	min-width: 750px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

    background: linear-gradient(135deg, rgb(252, 62, 49), rgb(221, 31, 126));
}

#content{
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	
	margin: 50px;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

#menu {
	width: 100%;
	height: 50px;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.menu-item {
	width: calc(33% - 75px);
	height: 100%;

	border-radius: 5px;

	background-color: white;
	color: black;

	font-size: 30px;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.menu-item:hover {
	background-color: rgb(228, 228, 228);
}

#list {
	width: 100%;
	min-height: calc(100% - 100px);
	
	margin: 50px 50px 0 50px;
	border-radius: 5px;

	background-color: white;
	color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;

	-webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.list-item{
	width: 100%;
	height: 100%;
	height: 75px;
	
	margin: 0;
	padding: 0;

	font-size: 20px;

	border-bottom: solid 2px black;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.list-item:hover{
	background-color: rgb(228, 228, 228);
}

.item-10{
	width: 10%;
}
.item-20{
	width: 20%;
}
.item-30{
	width: 30%;
}
.item-40{
	width: 40%;
}
.item-50{
	width: 50%;
}
.item-70{
	width: 70%;
}
.item-100{
	width: 100%;
}

.list-title {
	font-weight: bold;
}

.list-item-value {
	height: 100%;

	margin: 0;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	overflow: auto;
}

.v {
	border-left: 1px solid gray;
	height: 100%;
}