html, body {
    z-index: 0;
    overflow: hidden;
    margin : 0;
    padding : 0;
    
    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 0, 0);

    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background-circle {
    z-index: 1;
}

#title {
    z-index: 2;
    font-family: 'Josefin Slab', serif;
    font-size: 100px;
    color: rgb(255, 255, 255);
}

#subtitle {
    z-index: 2;
    margin: 0;
    opacity: 0; 
    height: 0;

    transition-property: opacity, height, margin;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-delay: 0.5s, 0s, 0.5s;
    transition-timing-function: linear, ease-in, ease-out;

    color: rgb(255, 255, 255);

    display: flex;
}

.button {
    background-color: transparent;
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    font-size: 30px;

    margin: 0 50px 0 50px;

    width: 200px;
    height: 50px;
    border-radius: 2px;
    background-color: white;
    color : black;
    
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition-property: font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.button:hover {
    color : black;
    background-color: lightgray;
    mix-blend-mode: difference;
    text-decoration: none;
    cursor:pointer;
}

.button.focus {
    outline: none;
    text-decoration: none;
}
 
#discord-button {
    background-color: linear-gradient(45deg, #97ABFF, #123597);
    color: #2c2f33;
}

#discord-button:hover{
    background-color: rgb(98, 120, 199);
}